/* Footer.module.css */

.footer {
  background-color: #ffd7a1;
  color: #2c2c2c;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-logo {
  flex: 1 1 100%;
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-logo h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.footer-logo p {
  font-size: 14px;
  line-height: 1.6;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100%;
  justify-content: space-between;
}

.footer-section {
  flex: 1 1 30%;
  min-width: 200px;
  margin-bottom: 20px;
}

.footer-section h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #2c2c2c;
  text-decoration: none;
  font-size: 14px;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.social-medias {
  flex: 1 1 30%;
  min-width: 200px;
  margin-bottom: 20px;
}

.social-medias ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.social-medias ul li {
  margin-right: 15px;
  margin-bottom: 15px;
}

.social-medias ul li img {
  width: 30px;
  height: 30px;
}

.social-medias ul li a:hover img {
  opacity: 0.7;
}

.footer-contact {
  flex: 1 1 30%;
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-contact h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-contact p {
  font-size: 14px;
  margin: 5px 0;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
  }

  .footer-links {
    flex-direction: column;
  }

  .footer-logo, .footer-links, .social-medias, .footer-contact {
    flex: 1 1 100%;
    min-width: 100%;
  }

  .footer-section {
    flex: 1 1 100%;
    min-width: 100%;
  }

  .social-medias ul {
    justify-content: center;
  }

  .social-medias ul li {
    margin-right: 10px;
  }
}
