/* General body styles */
.body {
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.h1 {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  margin-bottom: 20px;
  text-align: left;
}
.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.line {
  height: 1px;
  background-color: #ccc;
  flex: 1;
}

.leftLine {
  margin-right: 10px;
}

.rightLine {
  margin-left: 10px;
}
/* Form container styles */
.formContainer {
  background-color: #ffffff;
  border-radius: 8px;
  margin: 0 400px; /* Adjust margins for all screen sizes */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 40px; /* Reduce padding for all screen sizes */
}

/* Form title styles */
.formTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

/* Kundali form styles */
.kundaliForm {
  display: flex;
  flex-direction: column;
}

/* Form group styles */
.formGroup {
  margin-bottom: 16px;
}

.formGroup label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

.formGroup input,
.formGroup select {
  width: 100%;
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

/* Birth details and birth time styles */
.birthDetails,
.birthTime {
  display: flex;
  gap: 8px;
}

/* Additional styles for birth details and birth time for alignment */
.birthDetails .formGroup,
.birthTime .formGroup {
  flex: 1;
}

/* Submit button styles */
.submitButton {
  background-color: #4caf50;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  padding: 12px;
  text-align: center;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #45a049;
}

/* Container styles */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 20px; /* Adjust margins for all screen sizes */
}

/* Heading styles */
.heading {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Subheading styles */
.subheading {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* Paragraph styles */
.paragraph {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
  font-weight: normal;
  text-align: left;
  font-family: Arial, sans-serif;
  color: #333;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .formContainer {
    margin: 0 20px; 
    padding: 30px; /* Adjust padding for tablet-sized screens */
  }

  .formTitle,
  .heading {
    font-size: 22px; /* Adjust font size for tablet-sized screens */
  }

  .subheading {
    font-size: 16px; /* Adjust font size for tablet-sized screens */
  }

  .paragraph {
    font-size: 14px; /* Adjust font size for tablet-sized screens */
  }
}

@media screen and (max-width: 480px) {
  .formContainer {
    margin: 0 20px; 
    padding: 20px; /* Reduce padding for mobile screens */
  }

  .formTitle,
  .heading {
    font-size: 20px; /* Adjust font size for mobile screens */
  }

  .subheading {
    font-size: 16px; /* Adjust font size for mobile screens */
  }

  .paragraph {
    font-size: 14px; /* Adjust font size for mobile screens */
  }
  .h1 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .p {
    font-size: 14px;
    margin-bottom: 15px;
  }
}
